<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/jpg" href="/image/Icon/Shop-Logo.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page</title>
    <link rel="stylesheet" href="/CSS/productPage.css">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="product-container">
        <% if (product.picture) { %>
            <img class="product-img" src="data:image/png;base64,<%= product.picture.toString('base64') %>" alt="<%= product.name %>">
        <% } else { %>
            <img class="product-img" src="./../Image/Error/loadError.png" alt="Default Image">
        <% } %>
        <div class="product-details">
            <h2 class="product-name"><%= product.productName %></h2>
            <p class="product-price">Price: <%= product.productPrice %> $</p>
            <div class="product-rating">
                Rating: 
                <% for (let i = 0; i < product.rating; i++) { %>
                    <span class="star">★</span>
                <% } %>
                <% for (let i = product.rating; i < 5; i++) { %>
                    <span>☆</span>
                <% } %>
            </div>
        </div>
        <div class="comment-section">
            <h3>Comments</h3>
        </div>
        <div class="comment-form">
            <h3>Leave a Comment</h3>
            <form id="comment-form">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <textarea name="comment" placeholder="Your comment here..." required></textarea>
                <label for="productRate">Product Rating:</label>
                <div id="starRating" dir="ltr">
                    <input type="radio" id="star5" name="rating" value="5"><label for="star5" title="5 stars">★</label>
                    <input type="radio" id="star4" name="rating" value="4"><label for="star4" title="4 stars">★</label>
                    <input type="radio" id="star3" name="rating" value="3"><label for="star3" title="3 stars">★</label>
                    <input type="radio" id="star2" name="rating" value="2"><label for="star2" title="2 stars">★</label>
                    <input type="radio" id="star1" name="rating" value="1"><label for="star1" title="1 star">★</label>
                </div>
                <button name="submit" class="submit" type="submit" value="Submit">Submit</button>
            </form>
        </div>
    </div>
    <script src="/JS/FrontEnd/Ajax/Comment/sendCommentForm.js"></script>
</body>
</html>
